@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
    background-image: url('images/Web\ 1920\ –\ 2.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #09458b;
}
.temp{
    height: 1100px;
}
.head {
    width: 100%;
    height:100%; 
    padding: 0 200px ;
}
.head .image_header{
    width: 100%;
    height:100%; 
    object-fit: fill;
}
.head p{
    color:#FFFFFF;
    font-size: 18px;
    width: 98%;
    padding-top: 50px;
}
.headBtn {
    margin-top: 30px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
}
/*==================================================================*/
.all_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
    position: relative;
}
.all_form .global_lines{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 50px;
    gap: 128px;
}
.all_form label{
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 5px;
}
.all_form input{
    width: 600px;
    height: 60px;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    opacity: 1;
    margin-top: 8px;
    outline: none;
    font-size:25px ;
    color: #515151;
    background: #F5F5F5;
}
input[type="number"] {
    appearance: textfield; 
}
.all_form input:focus{
    border: 2px solid #1755db;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input::placeholder{
    color: #454247;
    font-size: 14px;
}
select{
    width: 600px;
    height: 60px;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    transition:ease-in-out;
    display: inline-block;
    cursor: pointer;  
    opacity: 1;
    margin-top: 8px;
    outline: none;
    font-size:18px ;
    color: #515151;
    background: #F5F5F5;
}
select:focus{
    border: 2px solid #1755db;
}
.all_form form option {
    font-size: 25px;
    background-color: #ffffff;
    color:black;
}
.optiondis{
    font-size: 14px !important;
}
option:before {
    content: ">";
    font-size: 20px;
    display: none;
    padding-right: 10px;
    padding-left: 5px;
    color: #fff;
}
.option .li{
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 5px;
}
.option hr{
    border: 1px solid #4E4E4E;
    margin-left: 15px;
    margin-right: 15px;
}
.btn {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.btn .submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 45%;
    height: 80px;
    border-radius: 59px;
    background: linear-gradient(to right, #E42B26, #EE6C23);    
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-weight: 400;
    cursor: pointer;
    border: none ;
    outline: none;
}
/*==================================================================*/
.footerText p{
    color:#FFFFFF;
    font-size: 9px;
    width: 68%;
    padding-left: 95px;
}
.footer {
    margin-top: -150px;
    position: relative;
    width: 100%;
    overflow-x: hidden !important;
}
.footer .wave-container img {
    width: 100%;
    display: block;
}
/*=============================================================================================================*/

@media screen and (max-width: 300px){
body{
    background-size: contain;
}
/*===========================================================*/
.temp{
    height: 230px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 8px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 100% !important;
    height: 40px !important;
    font-size: 10px !important;
}

/*=====================================================================================*/
body .all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 15px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 280px;
    font-size: 18px;
}
html body .container form select{
    width: 280px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 280px;
    height: 60px;
    font-size: 20px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:300px) and (max-width: 360px){
body{
    background-size: contain;
}
.temp{
    height: 250px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 9px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 100% !important;
    height: 40px !important;
    font-size: 12px !important;
}
/*==================================================================*/
.all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 15px;
}
html body .container .all_form input{
    width: 300px;
}
html body .container select{
    width: 300px;
}
.all_form .btn .submit-btn{
    width: 300px;
    height: 60px;
    font-size: 20px;
    gap: 20px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:360px) and (max-width: 410px){
body{
    background-size: contain;
}
.temp{
    height: 300px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 9px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 100% !important;
    height: 40px !important;
    font-size: 12px !important;
}
/*==================================================================*/
.all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 15px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 350px;
    font-size: 18px;
}
html body .container form select{
    width: 350px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 350px;
    height: 60px;
    font-size: 20px;
    gap: 20px;
}
.btn .submit-btn img{
    margin-top: 4px;
    width: 10px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:410px) and (max-width: 462px){
body{
    background-size: contain;
}
.temp{
    height: 330px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 9px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 100% !important;
    height: 40px !important;
    font-size: 15px !important;
}
/*==================================================================*/
.all_form{
    box-sizing: border-box;
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 15px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 400px;
    font-size: 18px;
}
html body .container form select{
    width: 400px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 400px;
    height: 60px;
    font-size: 20px;
}
.btn .submit-btn img{
    margin-top: 4px;
    width: 12px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:462px) and (max-width: 520px){
body{
    background-size: contain;
}
.temp{
    height: 360px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 9px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
    height: 40px !important;
    font-size: 15px !important;
}
/*==================================================================*/
.all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 18px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 450px;
    font-size: 18px;
}
html body .container form select{
    width: 450px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 450px;
    height: 60px;
    font-size: 25px;
}
.btn .submit-btn img{
    margin-top: 4px;
    width: 12px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:521px) and (max-width:640px){
body{
    background-size: contain;
}
.temp{
    height: 450px;
}
.head {
    padding: 0 30px;
    /* margin-top: 170vh; */
}
.head p{
    font-size: 9px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
    height: 40px !important;
    font-size: 15px !important;
}
/*==================================================================*/
.all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 18px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 500px;
    font-size: 18px;
}
html body .container form select{
    width: 500px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 500px;
    height: 60px;
    font-size: 30px;
}
.btn .submit-btn img{
    margin-top: 4px;
    width: 12px;
}
/*=====================================================================================*/
.footerText p {
    width: 100%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:641px) and (max-width: 730px) {
body{
    background-size: contain;
}
.temp{
    height: 500px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 10px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
    height: 60px !important;
    font-size: 20px !important;
}
/*==================================================================*/
.all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 18px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 600px;
    font-size: 18px;
}
html body .container form select{
    width: 600px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 600px;
    height: 60px;
    font-size: 30px;
}
.btn .submit-btn img{
    margin-top: 4px;
    width: 12px;
}
/*=====================================================================================*/
.footerText p {
    width: 100%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:730px) and (max-width: 760px){
body{
    background-size: contain;
}
.temp{
    height: 550px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 11px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
    height: 60px !important;
    font-size: 20px !important;
}
/*==================================================================*/
.all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 18px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 600px;
    font-size: 18px;
}
html body .container form select{
    width: 600px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 600px;
    height: 60px;
    font-size: 30px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:761px) and (max-width:872px){
body{
    background-size: contain;
}
.temp{
    height: 600px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 12px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
    height: 60px !important;
    font-size: 28px !important;
}
/*==================================================================*/
body .all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 18px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 700px;
    font-size: 25px;
}
html body .container form select{
    width: 700px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 700px;
    height: 60px;
    font-size: 35px;
}
.btn .submit-btn img{
    margin-top: 4px;
    width: 12px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:872px) and (max-width:1050px){
body{
    background-size: contain;
}
.temp{
    height: 710px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 16px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
    height: 60px !important;
    font-size: 28px !important;
}
/*==================================================================*/
.all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    display: flex;
    flex-direction: column;
}
.all_form .global_lines .indiv{
    margin-bottom: -90px;
}
.all_form .global_lines .innerdiv{
    margin-bottom: -20px;
}
.container .all_form form label{
    font-size: 18px;
    margin-left: 5px;
}
html body .container .all_form form input{
    width: 800px;
    font-size: 25px;
}
html body .container form select{
    width: 800px;
    font-size: 14px;
}
.all_form form option {
    font-size: 14px;
}
.all_form form .btn .submit-btn{
    width: 800px;
    height: 60px;
    font-size: 35px;
}
.btn .submit-btn img{
    margin-top: 4px;
    width: 12px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:1050px) and (max-width:1200px){
body{
    max-width: 100%;
}
.temp{
    height: 1000px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 16px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
    height: 60px !important;
    font-size: 28px !important;
}
/*==================================================================*/
.all_form{
    margin-top: 10vh;
}
.all_form .global_lines{
    gap: 32px;
}
.all_form input,
select{
    width: 500px;
}
.btn .submit-btn img{
    margin-top: 4px;
    width: 12px;
}
/*=====================================================================================*/
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}
/*=============================================================================================================*/
@media screen and (min-width:1201px) and (max-width:1400px){
body{
max-width: 100%;
overflow-x: hidden !important;
}
.temp{
    height: 1000px;
}
.head {
    padding: 0 30px;
}
.head p{
    font-size: 19px;
    width: 100%;
}
.headBtn {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.headBtn .headerBtn{
    width: 90% !important;
    height: 60px !important;
    font-size: 32px !important;
}
/*==================================================================*/
.all_form .global_lines{
    gap: 64px;
}
.all_form input,
select{
    width: 450px;
}
.footerText p {
    width: 95%;
    padding-left: 10px;
}
.footer {
    margin-top: -1px;
}
}